:root {
    --text-color: #fff;
    --text-shadow: 0 0 4px #aaaaaa;
}

.weatherWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weatherAppWrapper {
    width: 400px;
    min-height: 300px;
    padding: 20px 16px;
    box-shadow: 0 0 4px #9d9d9d;
    background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky-sea_74190-4488.jpg?semt=ais_hybrid&w=740&q=80);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(20px);
}

.location {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-4%);
}

.locationIcon {
    font-size: 30px;
    margin-right: 10px;
    color: #ceebff;
}

#locationSelect {
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
    width: 150px;
    appearance: none;
    text-align: center;
    outline: none;
    background-color: #ffffff30;
    border-radius: 20px;
    padding: 8px 16px;
}

#locationSelect option {
    background-color: #5f5f5f;
    padding-right: 10px;
}

.weatherDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.temperature {
    text-shadow: var(--text-shadow);
    font-size: 150px;
    font-weight: 500;
    color: var(--text-color);
    position: relative;
    margin-bottom: 48px;
}

.temperatureIndex {
    line-height: normal;
}

.temperatureIcon {
    position: absolute;
    bottom: -24px;
    right: 38px;
    font-size: 100px;
    user-select: none;
}

.description {
    position: absolute;
    left: 6px;
    bottom: 0;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 26px;
    color: rgb(53, 53, 53);
    background-color: #f7f7f7;
    border-radius: 50px;
    box-shadow: 0 0 4px #a7a7a78e;
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statisticIcon {
    font-size: 14px;
}

.statisticPercent {
    padding: 6px 0 4px;
    font-weight: 600;
}

.statisticTitle {
    font-size: 12px;
}

.refresh {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 20px;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 600;
}

.refresh i {
    padding-right: 8px;
    transition: all 0.5s;
}

.refresh:hover i {
    transform: rotate(30deg) translateY(2px) translateX(1px);
}